<a href="/collection/{{_id}}" class="collectionRowLink">
    <div class="collectionRow">
        <img src="{{logoUrl}}" alt="Nft Logo">
        <h3 class="collectionName">{{collectionName}}</h3>
        <h3>Size: {{size}}</h3>
    </div>
</a>