<h2>Home</h2>

<a href="/collection"><h3>Collections:</h3></a>
<div class="collectionSection">
    {{#each allCollections}}
        {{> collectionRow}}
    {{/each}}
</div>


<a href="/asset"><h3>NFTs:</h3></a>
<div class="nftSection">
    {{#each allNfts}}
        {{> nftCard}}
    {{/each}}
</div>