<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/"><h1>BlockIO</h1></a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <a href="/profile">Profile</a>
      <a href="/collection">Explore</a>
      <a href="/upcoming-releases">Drops</a>
    </nav>
    {{{body}}}
  </body>
</html>
