<h3>Current Balance: {{foundUser.ethereumBalance}} ETH</h3>
<form action="/add-balance" method="post">
    <label for=""></label>
    <input type="text" name="balanceAdd" placeholder="1234">
    <button type="submit">Add ETH</button>
</form>

