{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
<h3>Current Balance: {{userBalance}} ETH</h3>
<form action="">
    <label for=""></label>
    <input type="text" name="balanceAdd" placeholder="1234">
    <button>Add ETH</button>
</form>

