<div class="profileNamePic">
    <img src="https://i.imgur.com/UF7kQ45.png" alt="Profile Picture">
    <div class="profileDetails">
        <h2>{{profileUser.username}}</h2>
        <h4>Current Balance: <span class="ethBalanceMoney">{{profileUser.ethereumBalance}} ETH</span></h4>
        <a href="/add-balance"><button>Add ETH</button></a>
    </div>
</div>

<a href="/profile/collections" class="collectionCreateLink"><h3>Collections Created:</h3></a>

<div class="collectionSection">
    {{#each limitedCollections}}
        {{> collectionRow}}
    {{/each}}
</div>

<a href="/profile/nfts" class="nftOwnedLink"><h3>NFTs Owned:</h3></a>
<div class="nftSection">
    {{#each limitedNfts}}
        {{> nftCard}}
    {{/each}}
</div>