<img src="https://storage.googleapis.com/opensea-static/opensea-profile/27.png" alt="Profile Picture">
<h2>{{username}}</h2>

<h3>Collections Created:</h3>

{{#each collections}}
    {{> collectionCard}}
{{/each}}