<div class="nameAndPic">
    <img src="https://i.imgur.com/UF7kQ45.png" alt="Profile Picture">
    <h2>User: {{user.username}}</h2>
</div>

<div class="headerBarTwo">
    <div class="allAndSearch">
        <h2>All NFTs Owned:</h2>
        <input type="text" class="searchBarCollection" placeholder="Search NFTs">
    </div>
</div>

<div class="nftSection">
    {{#each user.itemsOwned}}
        {{> nftCard}}
    {{/each}}
</div>