<img src="https://storage.googleapis.com/opensea-static/opensea-profile/27.png" alt="Profile Picture">
<h2>{{user.username}}</h2>

<h3>All NFTs Owned:</h3>
{{#each user.itemsOwned}}
    {{> nftCard}}
{{/each}}