<h2>All Collections:</h2>
<a href="/create-collection">Create Collection</a>

<br>

<div class="collectionSectionCard">
    {{#each allCollections}}

        {{> collectionCard}}

    {{/each}}
</div>