<h2>Create Collection</h2>

<form action="" method="post">

    <label for="">Collection Name:</label>
    <input type="text" name="name">

    <label for="">Description:</label>
    <input type="text" name="description">

    <label for="">NFT Name:</label>
    <input type="text" name="nftName">

    <label for="">Size:</label>
    <input type="number" name="size">

    <label for="">Price:</label>
    <input type="number" name="price">

    <label for="">Blockchain:</label>
    <input type="text" name="blockchain">

    <label for="">Logo:</label>
    <input type="text" name="logoUrl">

    <label for="">Background Header:</label>
    <input type="text" name="backgroundHeader">

    <label for="">NFT Image</label>
    <input type="text" name="nftImage">

    <button type="submit">Create Collection</button>

</form>