<h2>Add NFT to Your Collection</h2>


<form action="/collection/{{collectionId}}/add-nft" method="post">

    <label for="">Image:</label>
    <input type="text" name="imageUrl">

    <label for="">Price:</label>
    <input type="number" name="price">

    <button type="submit">Create</button>

</form>