<div class="headerBar">
    <div class="allAndSearch">
        <h2>All NFTs:</h2>
        <input type="text" class="searchBarCollection" placeholder="Search NFTs">
    </div>
    <a href="/create-collection">Create Collection</a>
</div>

<div class="nftSection">
    {{#each allNfts}}

        {{> nftCard}}

    {{/each}}
</div>