* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0e1012;
  color: white;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: 17px;
  font-weight: 700;
}

.searchBar {
  width: 55%;
  height: 55%;
  border-radius: 10px;
  font-size: 17px;
}

.navbar > img {
  width: auto;
  height: 80%;
  border-radius: 30px;
}

.uniq {
  margin-left: -1.5%;
}

.nftCard {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 45vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px #070708;
  background-color: #272e37;
}

.nftCardLink {
  margin-bottom: 3%;
  color: white;
}

.nftCard:hover {
  box-shadow: 0px 0px 15px 6px #070708;
}

.nftCard:hover .nftImage {
  width: 103%;
  height: 103%;
}


.nftImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-grow: 1;
}

.nftImage {
  width: 100%;
  height: 100%;
}

.nftDetailsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}

.nftDetailsBox > h2 {
  margin-left: 7%;
}

.nftDetailsBox > h3 {
  margin-bottom: 3%;
  margin-left: 7%;
  margin-top: 5%;
  color: #5599ff;
}


/*  */

.nftSection {

  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collectionSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.collectionSectionCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*  */

.collectionRowLink {
  display: flex;
  color: white;
  width: 40%;
  flex-grow: 1;
}

.collectionRow {
  border: 1px solid #14171a;;
  background-color: #272e37;
  border-radius: 5px;
  padding: 15px 60px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 5vh;
  flex-grow: 1;
}

.collectionRow img {
  width: auto;
  height: 130%;
  border-radius: 10px;
}

.collectionRow .collectionName {
  color: #973dec;
}


/*  */

.collectionCard {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 45vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px #070708;
  background-color: #272e37;
}

.collectionImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-grow: 1;
}

.collectionImage {
  width: 100%;
  height: 100%;
}

.collectionDetailsBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}

.nameAndSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameAndSize h3 {
  margin-bottom: 3%;
  margin-top: 5%;
  color: #973dec;
}

.collectionLogo {
  width: auto;
  height: 70%;
  border-radius: 10px;
}

.collectionCardLink {
  margin-bottom: 3%;
  color: white;
}

.collectionCard:hover {
  box-shadow: 0px 0px 15px 6px #070708;
}

.collectionCard:hover .collectionImage {
  width: 103%;
  height: 103%;
}


/* .nftDetailsBoxOwner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}

.nftDetailsBoxOwner h3 {
  margin-bottom: 3%;
  color: #5599ff;
} */

.removeBtn {
  border: none;
  padding: 10px;
  color: white;
  background-color: rgb(247, 80, 80);
  font-weight: 700;
  height: 10%;
  align-self: center;
}


/* .nftDetailsBox > h2 {
  margin-left: 7%;
}

.nftDetailsBox > h3 {
  margin-bottom: 3%;
  margin-left: 7%;
  margin-top: 5%;
  color: #5599ff;
} */


/*  */

.credSection {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  width: 40%;
  height: 60%;
  background-color: #272e37;
  box-shadow: 0px 0px 10px 2px #070708;
}

.credCard input {
  width: 70%;
  height: 19%;
  font-size: 20px;
  border-radius: 15px;
}

.credCard button {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #00B7FF;
  font-weight: 700;
}

.credCard button:hover {
  background-color: #0fa3dd;
}

.currentBalance {
  background-color: #14171a;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.currentBalance span {
  color: #ac53ff;
}


/*  */

.headerBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 12vh;
  margin-bottom: 1.5%;
}

.headerBarTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 6vh;
  margin-bottom: 1.5%;
}

.allAndSearch {
  display: flex;
  align-items: center;
  gap: 1.5%;
  width: 100%;
}

.allAndSearch input {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  /* flex-grow: 1; */
}

.headerBar > a {
  border: none;
  width: 10%;
  padding: 10px 10px 18px 10px;
  color: white;
  background-color: rgb(30, 208, 154);
  font-weight: 700;
  height: 10%;
  text-align: center;
}

.headerBar > a:hover {
  background-color: rgb(26, 166, 124);
}

.nameAndPic {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: 20vh;
}

.nameAndPic img {
  border-radius: 10px;
  width: auto;
  height: 70%;
}

.nameAndPic h2 {
  background-color: #45caa9;
  border-radius: 5px;
  padding: 1%;
}

.collectionCreateLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 7vh;
  background-color: #0fa3dd;
  margin-bottom: 1.5%;
}

.collectionCreateLink h3 {
  color: white;
}

.nftOwnedLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 7vh;
  background-color: #0fa3dd;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.nftOwnedLink h3 {
  color: white;
}

.profileNamePic {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: 20vh;
}

.profileNamePic img {
  border-radius: 10px;
  width: auto;
  height: 70%;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
}

.profileDetails button {
  border: none;
  padding: 5px 10px;
  background-color: #45caa9;
  color: white;
  font-weight: 700;
}

.ethBalanceMoney {
  color: #973dec;
}

.newsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsSection a {
  width: 90%;
  height: 60vh;
  margin-top: 2%;
}

.newsSection h3 {
  border: 0px solid white;
  width: 90%;
  padding: 20px 0px;
  text-align: center;
}

.newsStory {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  box-shadow: 0px 0px 10px 2px #070708;
}

.newsStory img {
  width: 100%;
  height: auto;
}

.newsStory:hover {
  box-shadow: 0px 0px 15px 6px #070708;
}

.newsStory:hover img {
  width: 101%;
}

.homeSectionOne {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  box-shadow: 0px 0px 10px 2px #070708;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #070708;
}

.homeSectionOne img {
  width: 45%;
  flex-grow: 1;
}


/*  */

.createSection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.createCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  width: 70%;
  height: 100%;
  background-color: #272e37;
  box-shadow: 0px 0px 10px 2px #070708;
}

.createCards .normal {
  width: 70%;
  height: 4%;
  font-size: 15px;
  border-radius: 5px;
}

.createCards button {
  width: 70%;
  height: 10%;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #00B7FF;
  font-weight: 700;
}

.createCards button:hover {
  background-color: #0fa3dd;
}

.descriptionText {
  width: 70%;
  height: 10%;
  font-size: 15px;
  border-radius: 5px;
}

.editLabel {
  font-weight: 700;
  margin-bottom: -5%;
}